<!DOCTYPE html>
<html ng-app="leroyApp">
  <head>
    <meta charset="UTF-8">
    
    <title>Leroy Test</title>
    
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/src/js/controllers/app.js"></script>
      </head>

  <body>

    <div ng-controller="ShoppingCart">
      Carrinho de compras:

      <input type="text" ng-model="buy.total">

      <section>
        <div id="card-one">
          <h3>Cartão 1</h3>

          <section>
            <input type="text" ng-model="buy.cards.card_one.total" disabled="disabled">
            <input type="text" ng-model="buy.cards.card_one.installments">
          </section>
        </div>

        <div id="card-two" ng-show="two_cards">
          <h3>Cartão 2</h3>

          <section>
            <input type="text" ng-model="buy.cards.card_two.total">
            <input type="text" ng-model="buy.cards.card_two.installments">
          </section>
        </div>
      </section>
    </div>

  </body>
</html>
